.footer{
    .footer{
        display: flex;
        flex-flow: row wrap ;
        justify-content: space-around;
        .footer-lista{
            display: flex;
            flex-direction: row;
            align-self: flex-start;   
            width: 40vw;  
            justify-content: space-between;     
            div{
                align-items: center;
                .footer-ul>li{
                    list-style: none;
                    margin-left:0 !important ;
                }
            }
        }
        .footer-redes{
            align-self: flex-start;
            .footer-lista-redes >a{
                margin-right: .8rem;
                .footer-logo-info{
                    height: 50px;
                    width: 50px;
                }
            }
        }
         
    }
    .footer-logo{
        display: flex;
        flex-flow: row wrap-reverse;
        align-self: flex-start;
        justify-content: center;
        border-top: 1px solid rgba(0, 0, 0, 0.176);
        margin: 0 3rem;
        img{
            height: 50px;
            width: 50px;
        }
        p{
            margin: 0 0 0 1rem; 
            align-self: self-end;
        }
    }
}
@media (max-width: 500px) {
    .footer{
        .footer{
            display: flex;
            flex-flow: column;
            align-items: center;
            .footer-lista{
                display: flex;
                flex-direction: column;
                align-items: baseline;
                padding: 3rem 0 0 3rem;
                .footer-ul{
                    align-items: flex-start;
                    list-style: none;
                    padding: 0;
                    li{
                        margin-bottom: 1rem;
                    }
                }
            }
            .footer-logo{
                display: flex;
                flex-direction: row ;
                align-items: self-end;
                padding-left: 2rem;
                img{
                    padding-left: 1rem;
                    height: 80px;
                    width: 80px;
                }
            }
            .footer-redes{
                display: flex;
                flex-direction: column;
                margin: 2rem 0;
                h3{
                    padding-left: 3rem;
                }
                .footer-lista-redes{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    justify-content: space-around;
                    a{
                        margin: 1.5rem 0 1.5rem 3rem;
                        
                        .footer-logo-info{
                            height: 30px;
                            width: 30px;
                        }
                    }
                    
                }
            }
        }
    }
}