/* header main */
.header{
    justify-content: space-around;
    #header-logo{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 500px) {
    .header{
        justify-content: space-between;
        .navbar-brand{
            height: 40px;
            width: 40px;
        }
    }
    
}