/* header main */
.header{
    .navbar-brand{
        justify-content: start;
        height: 40px;
        width: 40px;
    }
    .header-lista{
        justify-content: end;
    }
}

@media (max-width: 500px) {
    .header{
        justify-content: space-between;
        .navbar-brand{
            height: 40px;
            width: 40px;
        }
    }
    
}