.main{
    .carousel{
        background-image: url('../img/carrousel2.jfif');
        background-position: 20% center;
        height: 78vh;
        position: relative;
        .boton{
            position: absolute;
            width: 15vw;
            left: 18%;
            top: 3.5rem;
        }
    }
    .contacto{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .main-contacto{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 3.5rem 1.5rem 3.5rem 0;
            .contacto-svg{
                height: 60px;
                width: 60px;
                margin-right: 2rem;
            }
        }
    }
    .flota{ 
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .flota-card{
            align-items: center;
            .flota-svg{
                height: 80px;
                width: 80px;
            }
        }
    }
    .carga{
        padding: 1rem 4rem;
        .carga-card{
            .carga-svg{
                height: 80px;
                width: 80px;
            }
        }
    }
    .formulario{
        padding:4rem;
        background-image: url('../img/Buy\ Used\ Shipping\ Container\ Units\ Near\ You\ Within\ Affordable\ Prices.jfif');     
    }
}

@media  (max-width: 500px){
    
    .main{
        .carrousel{
            background-image: url('../img/carrousel2.jfif');
            background-position: center;
            object-fit: cover;
            height: 78vh;
            position: relative;
            .boton{
                position: absolute;
                width: 15vw;
                left: 30%;
                top: 3.5rem;
            }
        }
        .contacto{
            .main-contacto{
                align-items: center;
                .contacto-texto{
                    width: 70vw;
                }
                .contacto-svg{
                    height: 40px;
                    width: 40px;
                }
            }
        }
        .flota{
            .flota-card{
                align-items: center;
                .flota-svg{
                    height: 90px ;
                    width: 90px ;
                }
            }
        }
        .carga{
            padding: 0 1rem;
            .carga-card{
                align-items: center;
                .carga-svg{
                    height: 100px;
                    width: 100px;
                }
            }
        }
        .formulario{
            padding:1.8rem;
            background-image: url('../img/Buy\ Used\ Shipping\ Container\ Units\ Near\ You\ Within\ Affordable\ Prices.jfif');
        }
    }
}